<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dialogdemo">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".SoftWindowDemoActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImmersiveDemoActivity"
            android:exported="true"></activity>
        <activity
            android:name=".with_screen.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting"></activity>
        <activity
            android:name=".with_screen.WhiteScreenDisablePreviewActivity"
            android:exported="true" />
        <activity
            android:name=".with_screen.WhiteScreenWindowBackgroundMainActivity"
            android:exported="true"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".WindowManagerDemoActivity"
            android:exported="true"></activity>
        <activity
            android:name=".DialogWindowActivity"
            android:exported="true" />
        <activity
            android:name=".SecondActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>